@font-face {
src: url(baskervville.ttf");
font-family: baskervville;
}

p {
font-family: baskervville;
}
h1 {
font-family: baskervville;
}
h2 {
font-family: baskervville;
}
select {
font-family: baskervville;
}
button {
font-family: baskervville;
}


body {
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
}

#fullVerses {
width: 400px;
height: 200px;
overflow: auto;
}
